<h1 class="mt-2"> {{ (currentHero.id ? 'Editar' : 'Crear') | uppercase }}</h1>

<mat-divider class="mb-4"></mat-divider>

<div class="grid">
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <form
                    class="grid"
                    [formGroup]="heroForm"
                    (ngSubmit)="onSubmit()"
                >
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Superheroe</mat-label>
                        <input
                            type="text"
                            matInput
                            required
                            formControlName="superheroe"
                        >
                    </mat-form-field>

                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Alter ego</mat-label>
                        <input
                            type="text"
                            matInput
                            required
                            formControlName="alter_ego"
                        >
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Primera aparición</mat-label>
                        <input
                            type="text"
                            matInput
                            required
                            formControlName="primera_aparicion"
                        >
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Personajes</mat-label>
                        <input type="text" matInput required formControlName="personajes">
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Editorial</mat-label>
                        <mat-select required>
                            <mat-option *ngFor="let publisher of publishers" [value]="publisher.id"> {{ publisher.value }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Imagen alternativa</mat-label>
                        <input type="text" matInput required formControlName="alt_image">
                    </mat-form-field>
                </form>
                <div class="flex justify-content-center gap-6">
                    <button mat-flat-button color="warn" *ngIf="currentHero.id">
                        <mat-icon>delete</mat-icon>
                        Borrar
                    </button>

                    <button mat-flat-button color="accent" (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 sm:col-6">
        <mat-card>
            <img [src]="currentHero | heroImage" alt="imagen del nuevo heroe" matCardImage>
        </mat-card>
    </div>
</div>

