/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    background-color: #161215; /* Color de fondo para modo oscuro */
    color: rgba(255, 255, 255, 0.87); /* Texto claro */
}
